#main-div {
    border: 1px solid black;
    background: #483B3A;
    color: white;
    font-family: 'VT323', monospace;
}

#header {
    border-bottom: 4px solid #222222;
    font-size: 32pt;
    white-space: nowrap;
    overflow: hidden;
}

#game-div {
    border: 3px solid #222222;
    width: 95%;
    height: 375px;
    background-image: url("../images/dungeon.svg");
    background-size: 240px 375px;
    background-repeat: repeat-x;
}

#elf {
    background-image: url("../images/elf.png");
}

#knight {
    background-image: url("../images/knight.png");
}

#orc {
    background-image: url("../images/orc.png");
}

#skeleton {
    background-image: url("../images/skeleton.png");
}

#wizard {
    background-image: url("../images/wizard.png");
}

.character {
    height: 196px;
    background-repeat: no-repeat;
    background-position-x: 50%;
    position: relative;
    top: 30%;
    animation: sprite 1s steps(2) infinite;
}

#log-div {
    border: 2px solid #222222;
    background: #D3BFA9;
    color: #222222;
    font-size: 16pt;
    margin-right: 50%;
    height: 10rem;
}

@keyframes sprite {
    from { background-position-y: 0px; }
    to { background-position-y: -392px; }
}